.item {
    display: flex;
    border-bottom: 1px solid #BADDFE;
    color: #999999;
}

.item_data {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
}

.item_amount, .item_timespan, .item_average {
    text-align: right;
}

.item_type, .item_amount {
    font-weight: bold;
    color: #000000;
}