
$header-background: #0285EE;
$header-text: #ffffff;
$header-hight: 4rem;
$header-fontsize: 1.75rem;

$scollbar-track: #ffffff;
$scollbar-thumb: #e1e1e1;
$scollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-text: #999999;
$item-text-strong: #000000;
$item-padding: 0.75rem;
$item-edit-background: #dddddd;
$item-edit-text: #666666;
$item-edit-width: 2rem;

$menu-background: #000000;
$menu-text: #ffffff;
$menu-height: $header-hight;